[user]
	email = kdesp2003@gmail.com
	name = Konstantinos Despoinidis
[init]
	defaultBranch = main
[core]
    autocrlf = input
    editor = nvim
	tool = kdiff3
[pull]
	rebase = false
[alias]
    # Shortcuts
    co = checkout
    ci = commit
    st = status
    br = branch
    df = diff
    lg = log --graph --pretty=format:'%C(auto)%h%d %s %C(black)%C(bold)%cr %C(green)(%an)%Creset' --abbrev-commit
    amend = commit --amend --no-edit
    cm = "!f() { git add -A && git commit -m \"$1\"; }; f"

[color]
    ui = auto
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
