/* 
 * Catppuccin Macchiato colors 
 * https://github.com/catppuccin/catppuccin 
 */
@define-color macchiato-Rosewater rgb (244, 219, 214);
@define-color macchiato-Flamingo rgb (240, 198, 198);
@define-color macchiato-Pink rgb (245, 189, 230);
@define-color macchiato-Mauve rgb (198, 160, 246);
@define-color macchiato-Red rgb (237, 135, 150);
@define-color macchiato-Maroon rgb (238, 153, 160);
@define-color macchiato-Peach rgb (245, 169, 127);
@define-color macchiato-Yellow rgb (238, 212, 159);
@define-color macchiato-Green rgb (166, 218, 149);
@define-color macchiato-Teal rgb (139, 213, 202);
@define-color macchiato-Sky rgb (145, 215, 227);
@define-color macchiato-Sapphire rgb (125, 196, 228);
@define-color macchiato-Blue rgb (138, 173, 244);
@define-color macchiato-Lavender rgb (183, 189, 248);
@define-color macchiato-Text rgb (202, 211, 245);
@define-color macchiato-Subtext1 rgb (184, 192, 224);
@define-color macchiato-Subtext0 rgb (165, 173, 203);
@define-color macchiato-Overlay2 rgb (147, 154, 183);
@define-color macchiato-Overlay1 rgb (128, 135, 162);
@define-color macchiato-Overlay0 rgb (110, 115, 141);
@define-color macchiato-Surface2 rgb (91, 96, 120);
@define-color macchiato-Surface1 rgb (73, 77, 100);
@define-color macchiato-Surface0 rgb (54, 58, 79);
@define-color macchiato-Base rgb (36, 39, 58);
@define-color macchiato-Mantle rgb (30, 32, 48);
@define-color macchiato-Crust rgb (24, 25, 38);

* {
    border: none;
    border-radius: 0;
    /* `otf-font-awesome` is required to be installed for icons */
    font-family:"MesloLGS NF";
/*    font-family:"Source Code Pro";*/
    font-size: 12px;
    font-weight: 600;
    min-height: 0;
}

window#waybar {
    /*background-color: #282c34;*/
    background-color: @macchiato-Base;
    /*border-bottom: 1px solid @unfocused_borders;*/
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

#workspaces button {
    padding: 5px;
    background-color: @macchiato-Surface0;
    color: @macchiato-Text;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: @macchiato-Surface1;
}

#workspaces button.focused {
    background-color: @macchiato-Blue;
    color: @macchiato-Mantle;
}

#workspaces button.urgent {
    background-color: @macchiato-Red;
    color: @macchiato-Crust
}

#mode {
    background-color: @macchiato-Peach;
}

#temperature,
#battery,
#clock,
#memory,
#pulseaudio,
#tray,
#custom-powermenu,
#mode{
     padding-left: 10px;
     padding-right: 10px;
     margin: 0 0;
     color: @macchiato-Crust;
}
#custom-powermenu {
    margin: 0 0;
    padding: 10px;
    background-color: @macchiato-Red;
}
#window{
       margin-right: 40px;
       margin-left: 40px; 
}
#workspaces {
    margin: 0 0px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}
#battery {
    background-color: @macchiato-Mauve;
}

#temperature {
    background-color: @macchiato-Maroon;
}

#clock {
    background-color: @macchiato-Crust;
    color: @macchiato-Text;
}
@keyframes blink {
    to {
        background-color: #ffffff;
    }
}

label:focus {
    background-color: #000000;
}

#memory {
    background-color: @macchiato-Sky;
}

#pulseaudio {
    background-color: @macchiato-Green;
}

#pulseaudio.muted {
    background-color: @macchiato-Surface2;
}

#tray {
    background-color: @macchiato-Crust;
}
