@import "./themes/macchiato.css";

* {
  font-family: "NotoSansMono Nerd Font", "JetBrainsMono Nerd Font Mono", "FantasqueSansMono Nerd Font";
}

#waybar {
  background: transparent;
  color: @text;
  margin: 5px 5px;
}

#custom-player,
#custom-launcher,
#custom-browser,
#custom-terminal,
#custom-files,
#bluetooth,
#cpu,
#memory,
#custom-music,
#tray,
#backlight,
#clock,
#battery,
#pulseaudio,
#language,
#custom-lock,
#network,
#custom-power {
  background-color: @surface0;
  padding: 0.5rem 1rem;
  margin: 5px 0px;
}

#workspaces {
  border-radius: 1rem;
  margin: 5px;
  background-color: @surface0;
  margin-left: 1rem;
}

#workspaces button {
  color: @lavender;
  border-radius: 1rem;
  padding: 0.5rem;
}

#workspaces button.active {
  color: @sky;
  border-radius: 1rem;
}

#workspaces button:hover {
  color: @sapphire;
  border-radius: 1rem;
}

#cpu {
  margin-left: 1rem;
  border-radius: 1rem 0px 0px 1rem;
  color: @rosewater;
}

#memory {
  margin-right: 1rem;
  border-radius: 0px 1rem 1rem 0px;
  color: @rosewater;
}

#custom-launcher {
  border-radius: 1rem 0px 0px 1rem;
  color: @rosewater;
}

#custom-player {
  border-radius: 0px 1rem 1rem 0px;
  color: @rosewater;
}

#custom-music {
  color: @mauve;
  border-radius: 1rem;
}

#pulseaudio {
  color: @mauve;
  border-radius: 1rem 0px 0px 1rem;
  margin-left: 1rem;
}

#backlight {
  color: @yellow;
}

#battery {
  color: @green;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#clock {
  color: @text;
  border-radius: 0px 1rem 1rem 0px;
  margin-right: 1rem;
}

#tray {
  margin-right: 1rem;
  border-radius: 1rem;
}

#bluetooth {
  border-radius: 1rem;
  color: @blue;
}

#language {
  border-radius: 1rem 0px 0px 1rem;
  color: @maroon;
}

#custom-lock {
  color: @lavender;
}

#custom-power {
  margin-right: 1rem;
  border-radius: 0px 1rem 1rem 0px;
  color: @red;
}

#network {
  color: @mauve;
  border-radius: 1rem;
}
